{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="card mb-4 p-2">
            <h5 class="card-title {% if report.enc_kill %}text-success{% else %}text-danger{% endif %}">{{ report.enc_name }}</h5>
            <h6 class="card-subtitle mb-2">{{ report.enc_time }}</h6>
            <a class="card-link" href="https://www.fflogs.com/reports/{{ report.report_id}}#fight={{ report.fight_id }}">Original log</a>
        </div>
    </div>
    {% for result in report.results %}
    <div class="row result-row mb-2 p-2">
        <div class="col">
            <p>{{ report.friends[result['source']]['name'] }} tethered {{ report.friends[result['target']]['name'] }} at {{ result.timing }}</p>
            <p>The correct target was {{ result['correct'] }}</p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Job</th>
                        <th scope="col">Damage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for damage in result['damages'] %}
                    {% if damage[0] != result['source'] and report.friends[damage[0]]['type'] != 'LimitBreak' %}
                        <tr>
                            <td>{{ report.friends[damage[0]]['name'] }}</td>
                            <td>{{ report.friends[damage[0]]['type'] }}</td>
                            <td>{{ damage[1] }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
    </div>
    {% endfor %}
{% endblock %}