{% extends 'base.html' %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="report">Report ID</label>
        <input type="text" name="report_id" class="form-control" placeholder="Report ID">
    </div>
    <div class="form-group">
        <label for="report">Fight ID</label>
        <input type="text" name="fight_id" class="form-control" placeholder="Fight ID">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}